.outputText {
    margin-top: 1rem;
}

.noteOverviewContainer {
    position: absolute;
    margin-top: 0.5rem;
    width: 15rem;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem;
    border-radius: 0.5rem;
    overflow-wrap: break-word;
    white-space: normal;
}

.overview_container {
    position: relative;
    overflow: hidden;
    /* min-height: 100%;   */
    width: 100%;
    height: 90vh;
}

.noteOverviewContainer {
    cursor: grab;
    user-select: none;
}

.noteWrapper {
    position: fixed;
    width: 20rem;
    bottom: 90px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.contentElementOverview {
    word-wrap: break-word;
}

#btnChange {
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 0.4rem;
    color: #888;
    font-size: 12px;
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btnChange:hover {
    background-color: rgba(72, 196, 249, 0.817);
}

.btnsContainer {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}

button#overviewAddButton {
    width: 15rem;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-weight: 600;
    color: #382b22;
    padding: 0.5em 1em;
    background: #CFD7C7;
    border: 1px #b18597;
    border-radius: 0.75em;
    transition: transform 0.15s;
    transform-style: preserve-3d;
}

button#overviewAddButton:hover {
    background: #C4C4C4;
    transform: translate(0, 0.15em);
}

.note_wrapperOverview {
    position: fixed;
    bottom: 2rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 20rem;
    gap: 0.5rem;
    padding-top: 0.5rem;
}

#inputsContainerOverview {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    border-radius: 0.5rem;
}

#saveBtnOverview {
    height: 2rem;
    user-select: none;
    transition: background 20ms ease-in;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    height: 32px;
    padding-inline: 12px;
    border-radius: 0.5rem;
    white-space: nowrap;
    font-size: 15px;
    flex-shrink: 0;
    line-height: 1.2;
    min-width: 0px;
    width: 100%;
    box-shadow: rgba(51, 126, 169, 0.1) 0px 0px 0px 1px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 40px;
    margin-top: 0.5rem;
}

button#saveBtnOverview {
    font-weight: 600;
    color: #382b22;
    padding: 0.5em 1em;
    background: rgb(174, 235, 168, 0.2);
    border: 1px #b18597;
    border-radius: 0.75em;
    transition: transform 0.15s;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

button#saveBtnOverview:hover {
    background: rgb(174, 235, 168);
    transform: translate(0, 0.15em);
}

.dragHandleOverview{
    position: fixed;
}