.outputText {
    margin-top: 1rem;
}

.noteOverviewContainer {
    position: absolute;
    margin-top: 0.5rem;
    width: 15rem;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem 0.8rem 0.2rem 0.8rem;
    border-radius: 0.5rem;
    overflow-wrap: break-word;
    white-space: normal;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    transition: box-shadow 0.2s ease;
    cursor: default;
    user-select: none;
}

.overview_container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 90vh;
}

.noteWrapper {
    position: fixed;
    width: 20rem;
    bottom: 90px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.contentElementOverview {
    word-wrap: break-word;
}

.btnChange {
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 0.4rem;
    color: #888;
    font-size: 12px;
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnChange:hover {
    background-color: rgba(72, 196, 249, 0.817);
}

.btnsContainer {
    position: absolute;
    top: -30px;
    right: 8px;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    opacity: 0;
    transition: opacity 0.2s ease
}

.noteOverviewContainer:hover .btnsContainer,
.noteOverviewContainer:has(.btnsContainer:hover) .btnsContainer {
    opacity: 1;
}

button.add_button {
    width: 15rem;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-weight: 600;
    color: #382b22;
    padding: 0.5em 1em;
    background: #CFD7C7;
    border: 1px #b18597;
    border-radius: 0.75em;
    transition: transform 0.15s;
    transform-style: preserve-3d;
}

button.add_button:hover {
    background: #C4C4C4;
    transform: translate(0, 0.15em);
}

.note_wrapperOverview {
    position: fixed;
    bottom: 2rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 20rem;
    gap: 0.5rem;
    padding-top: 0.5rem;
}

.inputsContainerOverview {
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    border-radius: 0.5rem;
}

.saveBtnOverview {
    height: 2rem;
    user-select: none;
    transition: background 20ms ease-in;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    height: 32px;
    padding-inline: 12px;
    border-radius: 0.5rem;
    white-space: nowrap;
    font-size: 15px;
    flex-shrink: 0;
    line-height: 1.2;
    min-width: 0px;
    width: 100%;
    box-shadow: rgba(51, 126, 169, 0.1) 0px 0px 0px 1px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 40px;
    margin-top: 0.5rem;
}

button.saveBtnOverview {
    font-weight: 600;
    color: #382b22;
    padding: 0.5em 1em;
    background: rgb(174, 235, 168, 0.2);
    border: 1px #b18597;
    border-radius: 0.75em;
    transition: transform 0.15s;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.saveBtnOverview:hover {
    background: rgb(174, 235, 168);
    transform: translate(0, 0.15em);
}

.noteOverviewContainer:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.dragHandleOverview {
    position: absolute;
    left: -20px; 
    top: 20%;
    transform: translateY(-50%);
    width: 15px;
    height: 25px;
    background: #ccc;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #555;
    cursor: grab;
    user-select: none;
    color: transparent;
    background-color: transparent;
    transition: 0.2s ease
}


.noteOverviewContainer:hover .dragHandleOverview{
    color: black;
    background: #e2dada;
}


button.saveEditingButton {
    width: 50%;
    font-weight: 600;
    color: #382b22;
    padding: 0.4em 0.8em;
    background: rgb(174, 235, 168, 0.2);
    border: 1px #b18597;
    border-radius: 0.75em;
    transition: transform 0.15s;
    transform-style: preserve-3d;
}

button.saveEditingButton:hover {
    background: rgb(174, 235, 168);
    transform: translate(0, 0.15em);
}

button.cancelEditingButton {
    width: 50%;
    font-weight: 600;
    color: #382b22;
    padding: 0.4em 0.8em;
    background: rgba(235, 204, 168, 0.2);
    border: 1px #b18597;
    border-radius: 0.75em;
    transition: transform 0.15s;
    transform-style: preserve-3d;
}

button.cancelEditingButton:hover {
    background: rgb(235, 187, 168);
    transform: translate(0, 0.15em);
}

.new_note_inputTitle{
    padding-left: 5px;
    padding-right: 10px;
}