.note {
    position: relative;
    margin-top: 0.5rem;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0.5rem 0.5rem 0.1rem 0.5rem;
    border-radius: 0.5rem;
    overflow-wrap: break-word; 
    white-space: normal; 
}